html {
  --yellow : #f9ba37;
  --primary: #8542eb;
}


@keyframes loading {
    0%   { cy: 10; }
    25%  { cy: 3; }
    50%  { cy: 10; }
}

#new-confetti-button_canvas {
  /* height: 100vh; */
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.confetti-button {
  max-width: 180px;
  background: none;
  border: none;
  color: #f4f7ff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  outline: none;
  overflow: hidden;
  padding: 0 10px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
  position: relative;
  margin: 5px 7px;
}

.confetti-button::before {
  background: var(--primary);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .4) inset;
  content: '';
  display: block;
  height: 36px;
  margin: 0 auto;
  position: relative;
  transition: width .2s cubic-bezier(.39,1.86,.64,1) .3s;
  width: 100%;
}

.confetti-button>*{
  opacity: 0;
}


/* READY STATE */
.confetti-button.ready .submitMessage {
  opacity: 1;
}

.confetti-button.ready .submitMessage svg {
  opacity: 1;
  top: 1px;
  transition: top .4s ease 600ms, opacity .3s linear 600ms;
}

.confetti-button.ready .submitMessage .button-text span {
  top: 0;
  opacity: 1;
  transition: all .2s ease calc(var(--dr) + 600ms);
}
/* END READY STATE */

/* LOADING STATE */

.confetti-button.loading::before {
  transition: width .3s ease;
  width: 80%;
}
.confetti-button.loading .loadingMessage {
  opacity: 1;
}
.confetti-button.loading .loadingCircle {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loading;
  cy: 10;
}
/* END LOADING STATE */


/* COMPLETE STATE */
.confetti-button.complete .successMessage {
  opacity: 1;
}
/*END COMPLETE STATE*/

.confetti-button.complete .submitMessage svg {
  top: -30px;
  transition: none;
}

.confetti-button.complete .submitMessage .button-text span {
  top: -8px;
  transition: none;
}

.confetti-button.complete .loadingMessage {
  top: 80px;
}

.confetti-button.complete .successMessage .button-text span {
  left: 0;
  opacity: 1;
  transition: all .2s ease calc(var(--d) + 1000ms);
}

.confetti-button.complete .successMessage svg { 
  stroke-dashoffset: 0;
  transition: stroke-dashoffset .3s ease-in-out 1.4s;
}


.button-text span {
  opacity: 0;
  position: relative;
}

.message {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.message svg {
  display: inline-block;
  fill: none;
  margin-right: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}


.submitMessage .button-text span {
  top: 8px;
  transition: all .2s ease var(--d);
}

.submitMessage svg {
  color: var(--yellow);
  margin-left: -1px;
  opacity: 0;
  position: relative;
  top: 30px;
  transition: top .4s ease, opacity .3s linear;
  width: 14px;
}


.loadingMessage {
  opacity: 0;
  transition: opacity .3s linear .3s, top .4s cubic-bezier(.22,0,.41,-0.57);
}

.loadingMessage svg {
  fill: #5c86ff;
  margin: 0;
  width: 22px;
}

.successMessage .button-text span {
  left: 5px;
  transition: all .2s ease var(--dr);
}

.successMessage svg {
  color: #5cffa1;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transition: stroke-dashoffset .3s ease-in-out;
  width: 14px;
}


.loadingCircle:nth-child(2) { animation-delay: .1s }
.loadingCircle:nth-child(3) { animation-delay: .2s }