* {
-webkit-font-smoothing: antialiased;
margin: 0;
padding: 0;
}
  
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

html {
  --white              : white;
  --bg                 : #F8F9FA;
  --fg                 : #333333;
  --primary            : #8542EB;
  --primary-low        : #8542eb70;
  --secondary          : #4BC7EF;
  --success            : rgb(90, 206, 132);
  --input              : #F6F2FD;
  --error              : #F9BA37;
  --gray               : #555;
  --new-gray           : #9C9494;
  --second-new-grey    : #EBE7F5;
  --light-gray         : #ccc;
  --shadow             : #e6e6e6;
  background-color     : var(--bg);
  font-family          : 'Inter', sans-serif;
  /*body font*/
  font-size            : 13px;
  font-weight          : 500;
  /* identical to box height, or 123% */
  color                : var(--fg);
  background     : url(assets/cheddar-farm-background.svg) top center / contain no-repeat;
  background-size: 100% auto;
  background-color: #5e8c01;
  /* Fill width, retain proportions */
}

.hide {
  display: none!important;
}

.show {
    display: block;
}

li {
    list-style: none;
}

.main-contract-footer {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    margin: 46px;
    line-height: 24px;
}

.cheddar-farm-logo {
  width: 175px;
}

#generic-pool-container {
    width: 400px;
    height: max-content;
    border-width: 12px;    
    border-radius: 8px;
    background-color: var(--white);
}

.pool-filter-container {
    background-color: var(--second-new-grey);
    border-radius: 10px;
    width: max-content;

    color: var(--new-gray);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    text-align: center;
    letter-spacing: 1.25px;
    margin: 32px 0px;
}

.pool-filter-container ul {
    display: flex;
}

.pool-filter-container li {
    width: 133px;
    height: 42px;
    border-radius: 10px;
    line-height: 42px;
}

.pool-filter-container li:hover {
    background-color: var(--primary);
    color: var(--bg);
}

#generic-pool-container, #pool-container{
    border-color: var(--second-new-grey);
    border-style: solid;
}

#pool-container {
    border-bottom-width: 12px;
    padding: 5px 25px;
}

#new-token-header {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

#token-logo-container img {
    width: 54.66px;
    height: 44px;
    background-image: url(./assets/Ellipse1.svg);
    background-size: cover;
}

#token-name-container {
    transform: translate(-36px, -4px);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

#token-pool-stats {
    width: 346px;

    position: absolute;
    transform: translate(-37px, 5px);

    background-color: var(--white);
    padding: 24px;

    border-top: 0px;
    border-right: 12px;
    border-bottom: 12px;
    border-left: 12px;
    border-color: var(--second-new-grey);
    border-style: solid;
    border-radius: 8px;
}

#token-pool-stats h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.stats-container {
    font-size: 12px;
    font-weight: 400;
}

.stats-container li {
    display: flex;
    justify-content: space-between;
}

#contract-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.main-contract-information {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
}

.main-contract-information ul {
    height: 100%;
}

.main-contract-information li {
    display: flex;
    justify-content: space-between;
}

.reward-tokens-value {
    display: flex;
    justify-content: flex-end;
}

.reward-tokens-value img {
    margin-left: 3px;
}

.mini-icon {
    height: 30px;
}

#harvest-button, #stake-button, #unstake-button {
    background-color: var(--primary);
    color: var(--white);
    width: 78px;
    height: 36px;
    margin-left: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.visual-tool-expanding-indication-hidden {
    color: var(--light-gray);
    text-align: center;
}

#expanding-indicators .hide-expand-buttons-container {
    margin: 0px auto;
    width: max-content;
}

#expanding-indicators img {
    max-height: 10px;
    border: 5px var(--light-gray) solid;
    border-radius: 8px;
    background-color: var(--light-gray);
}

#staking-unstaking-container {
    display: flex;
    flex-direction: column;
}

.show-type-container h2{
    display: inline-block;
    width: 49%;
    text-align: center;
    padding: 16px 0px;
    color: var(--primary-low);
    border-width: 0 1px 2px 0;
    border-color: var(--light-gray);
    border-style: solid;
}

.show-type-container h2.active {
    color: var(--primary);
    border-color: var(--primary);
}

.main-stake, .main-unstake {
    padding: 10px;
}

#staking-unstaking-container input {
    margin-top: 32px;
    height: 56px;
    width: 99%;
    background-color: var(--bg);
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

#staking-unstaking-container input::placeholder {
    color: var(--primary)
}

.available-info {
    margin: 0 auto;
    width: 64%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
